<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BugTracker</title>
    <script>
        document.onreadystatechange = () => {
            if (document.readyState === 'interactive') {
                document.getElementById('userAgent').value = window.navigator.userAgent
                document.getElementById('userDate').value = new Date()

            }
        }
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">BugTracker</a>
    </nav>
    <div class="container">
        <h1>Ferramenta de Relato de Bugs</h1>
        <p>Preencha todos os dados a seguir:</p>



        <form method="POST">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" id="name" class="form-control" name="name" placeholder="Informe seu nome" />
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" class="form-control" name="email"
                            placeholder="Informe seu e-mail" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="issueType">Classificação:</label>
                        <select type="text" id="issueType" class="form-control" name="issueType">
                            <option value="">Selecione</option>
                            <option value="CRITICAL">Crítico</option>
                            <option value="BUG">Falha</option>
                            <option value="ENHANCEMENT">Melhoria</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="howToReproduce">Como reproduzir o erro:</label>
                        <input type="text" id="howToReproduce" class="form-control" name="howToReproduce" placeholder="Como podemos reproduzir o erro?" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="expectedOutPut">Qual a saída esperada?</label>
                        <input type="text" id="expectedOutPut" class="form-control" name="expectedOutPut" placeholder="Informe aqui o resultado esperado" />
                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group">
                        <label for="receivedOutPut">Qual a saída recebida?</label>
                        <input type="text" id="receivedOutPut" class="form-control" name="receivedOutPut" placeholder="Informe aqui a mensagem de erro" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="hidden" id="userAgent" name="userAgent" />
                    <input type="hidden" id="userDate" name="userDate" />
                    <button class="btn btn-primary">Enviar solicitação</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>